//
   Created by Lokesh Reddy on 4/5/2016.
extends layout

block content
    div(class="content")
        table(cellspacing="0" cellpadding="0")
            tr(class="evenRow dotted")
                td(class="firstColumn")
                    span Data 1
                td &nbsp; Data 2
            tr(class="oddRow")
                td(class="firstColumn")
                    span &nbsp; Data 2
                td
            tr(class="evenRow dotted")
                td(class="firstColumn")
                    span Data 1
                td &nbsp; Data 2
            tr(class="oddRow")
                td(class="firstColumn")
                    span &nbsp; Data 2
                td
            tr(class="evenRow dotted")
                td(class="firstColumn")
                    span Data 1
                td &nbsp; Data 2
            tr(class="oddRow")
                td(class="firstColumn")
                    span &nbsp; Data 2
                td
            tr(class="evenRow dotted")
                td(class="firstColumn")
                    span Data 1
                td &nbsp; Data 2
            tr(class="oddRow")
                td(class="firstColumn")
                    span &nbsp; Data 2
                td


